<% include ../layout/headerAllZone.ejs %>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"style="width:2700px">
<div id="table_1" style="float:left;margin-left:-130px;border:10px solid black;">
<center><h3>Casserole</h3></center>
<table id="Table_01" width="647" height="684" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="21">
			<img src="/Zone1/images/index_01.gif" width="646" height="38" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="7">
			<img src="/Zone1/images/index_02.jpg" width="63" height="151" alt=""></td>
		<td colspan="5" rowspan="5">
			<a onclick="change_image('Zone1',['Untitled-5_03'])">
				<img src="/Zone1/images/Untitled-5_03_green.jpg" id='Untitled-5_03' class="green" width="117" height="113" border="0" alt=""></a></td>
		<td colspan="14">
			<img src="/Zone1/images/index_04.gif" width="466" height="45" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="45" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="/Zone1/images/index_05.gif" width="15" height="68" alt=""></td>
		<td colspan="3" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_03-07'])">
				<img src="/Zone1/images/Untitled-5_03-07_green.jpg" class="green" id='Untitled-5_03-07' width="69" height="68" border="0" alt=""></a></td>
		<td colspan="10">
			<img src="/Zone1/images/index_07.gif" width="382" height="16" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone1/images/index_08.gif" width="1" height="4" alt=""></td>
		<td colspan="9">
			<img src="/Zone1/images/index_09.gif" width="381" height="4" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="4" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="3">
			<a onclick="change_image('Zone1',['Untitled-5_07'])">
				<img src="/Zone1/images/Untitled-5_07_green.jpg" width="65" id="Untitled-5_07" class="green" height="73" border="0" alt=""></a></td>
		<td colspan="5">
			<img src="/Zone1/images/index_11.gif" width="317" height="19" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_09'])">
				<img src="/Zone1/images/Untitled-5_09_green.jpg" width="61" id="Untitled-5_09" height="76" class="green" border="0" alt=""></a></td>
		<td colspan="4">
			<img src="/Zone1/images/index_13.gif" width="256" height="29" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="29" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img src="/Zone1/images/index_14.jpg" width="82" height="38" alt=""></td>
		<td colspan="4" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_03-16'])">
				<img src="/Zone1/images/Untitled-5_03-16_green.jpg" id="Untitled-5_03-16" class="green" width="86" height="72" border="0" alt=""></a></td>
		<td></td>
		<td colspan="2" rowspan="3">
			<img src="/Zone1/images/index_17.gif" width="67" height="47" alt=""></td>
		<td rowspan="6">
			<a onclick="change_image('Zone1',['Untitled-5_15'])">
				<img src="/Zone1/images/Untitled-5_15_green.jpg" id="Untitled-5_15" class="green" width="111" height="112" border="0" alt=""></a></td>
		<td rowspan="17">
			<img src="/Zone1/images/index_19.gif" width="78" height="532" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_11'])">
				<img  id="Untitled-5_11" src="/Zone1/images/Untitled-5_11_green.jpg" class="green" width="86" height="74" border="0" alt=""></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="15">
			<img src="/Zone1/images/index_22.gif" width="26" height="494" alt=""></td>
		<td colspan="4" rowspan="5">
			<img src="/Zone1/images/index_23_green.jpg" onclick="change_image('Zone1',['index_23'])"id="index_23" width="90" class="green" height="86" alt="">
	    </td>
		<td rowspan="3">
			<img src="/Zone1/images/index_24.gif" width="29" height="61" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_13'])">
				<img src="/Zone1/images/Untitled-5_13_green.jpg" id="Untitled-5_13" class="green" width="88" height="77" border="0" alt=""></a></td>
		<td rowspan="14">
			<img src="/Zone1/images/index_26.gif" width="52" height="485" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="/Zone1/images/index_27.gif" width="86" height="27" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="27" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_29'])">
				<img id='Untitled-5_29' class="green" src="/Zone1/images/Untitled-5_29_green.jpg" class="green" width="79" height="86" border="0" alt=""></a></td>
		<td colspan="7" rowspan="3"></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="11">
			<img src="/Zone1/images/index_30.gif" width="111" height="420" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="/Zone1/images/index_31.jpg" width="82" height="61" alt=""></td>
		<td rowspan="2">
			</td>
		<td colspan="3"></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="30" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/Zone1/images/index_34.gif" width="25" height="50" alt=""></td>
		<td colspan="3" rowspan="2">
			<a onclick="change_image('Zone1',['Untitled-5_35'])">
				<img src="/Zone1/images/Untitled-5_35_green.jpg" id='Untitled-5_35' class="green" width="45" height="50" border="0" alt=""></a></td>
		<td rowspan="3"></td>
		<td colspan="4" rowspan="3">
			<a onclick="change_image('Zone1',['Untitled-5_37'])">
				<img src="/Zone1/images/Untitled-5_37_green.jpg" id="Untitled-5_37" width="115" class="green" height="76" border="0" alt=""></a></td>
		<td rowspan="9">
			<img src="/Zone1/images/index_38.gif" width="15" height="378" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="31" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="8">
			<img src="/Zone1/images/index_39.gif" width="47" height="347" alt=""></td>
		<td colspan="2" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_38'])">
				<img src="/Zone1/images/Untitled-5_38_green.jpg" width="43" id="Untitled-5_38" class="green" height="83" border="0" alt=""></a></td>
		<td colspan="3">
			<img src="/Zone1/images/index_41.gif" width="79" height="19" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_40'])">
				<img src="/Zone1/images/Untitled-5_40_green.jpg" width="104" id='Untitled-5_40' class="green" height="102" border="0" alt=""></a></td>
		<td colspan="3">
			<img src="/Zone1/images/index_43.gif" width="45" height="26" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="4">
			<a onclick="change_image('Zone1',['Untitled-5_44'])">
				<img src='/Zone1/images/Untitled-5_44_green.jpg' id="Untitled-5_44" class="green" width="83" height="91" border="0" alt=""></a></td>
		<td colspan="3">
	</td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="5">
			<img src="/Zone1/images/index_46.gif" width="87" height="276" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<img src="/Zone1/images/index_47.gif" width="43" height="264" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="4"></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2"></td>
		<td colspan="6">
			<a onclick="change_image('Zone1',['Untitled-5_39'])">
				<img src="/Zone1/images/Untitled-5_39_green.jpg" id="Untitled-5_39" class="green" width="108" height="103" border="0" alt=""></a></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="103" alt=""></td>
	</tr>
	<tr>
		<td colspan="6"></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="108" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone1/images/spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="37" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="29" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="28" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="61" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="111" height="1" alt=""></td>
		<td>
			<img src="/Zone1/images/spacer.gif" width="78" height="1" alt=""></td>
	</tr>
	<tr><td colspan=30><div id="new_table"></div><div id="table_merge"></div></td></tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('1')" class="btn btn-primary">Save Zone</button></td></tr>
</table>

</div>

<div id="table_3" style="float:left;margin-left:10px;border:10px solid black;">
<center><h3>PDR</h3></center>
<table id="Table_01" width="649" height="587" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="19">
			<img src="/Zone3/images/index_01.gif" width="648" height="83" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="83" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="6"></td>
		<td rowspan="4">
			<a onclick = "change_image('Zone3',['Zone3-5_03'])">
				<img src="/Zone3/images/Zone3-5_03_green.jpg" class="green" id="Zone3-5_03" width="66" height="99" border="0" alt=""></a></td>
		<td colspan="16">
			<img src="/Zone3/images/index_04.gif" width="550" height="43" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="43" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="7"></td>
		<td rowspan="4"><a onclick = "change_image('Zone3',['Zone3-5_06','Zone3-5_08'])">
			<img src="/Zone3/images/Zone3-5_06_green.jpg" id="Zone3-5_06" class="green" width="55" height="79" alt=""></a></td>
		<td colspan="13">
			<img src="/Zone3/images/index_07.gif" width="465" height="20" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="20" alt=""></td>
	</tr>
	<tr>
		<td></td>
		<td colspan="12">
			<img src="/Zone3/images/index_09.gif" width="439" height="13" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<a onclick = "change_image('Zone3',['Zone3-5_10'])">
				<img src="/Zone3/images/Zone3-5_10_green.jpg" id="Zone3-5_10" class="green" width="86" height="98" border="0" alt=""></a></td>
		<td colspan="10" rowspan="4">
			<img src="/Zone3/images/index_11.gif" width="379" height="98" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="23" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/Zone3/images/index_12.gif" width="66" height="32" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="23" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3"></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td rowspan="12">
			<img src="/Zone3/images/index_14.gif" width="18" height="372" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone3',['Zone3-5_07'])">
				<img src="/Zone3/images/Zone3-5_07_green.jpg" class="green" id="Zone3-5_07" width="80" height="90" border="0" alt=""></a></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="43" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone3/images/index_16.gif" width="63" height="15" alt=""></td>
		<td colspan="3" rowspan="4">
			<a onclick = "change_image('Zone3',['Zone3-5_17'])">
				<img src="/Zone3/images/Zone3-5_17_green.jpg" width="97" class="green" id="Zone3-5_17" height="89" border="0" alt=""></a></td>
		<td colspan="8">
			<img src="/Zone3/images/index_18.gif" width="305" height="15" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td rowspan="10">
			<img src="/Zone3/images/index_19.gif" width="10" height="314" alt=""></td>
		<td colspan="3" rowspan="4">
			<a onclick = "change_image('Zone3',['Zone3-5_18'])">
				<img src="/Zone3/images/Zone3-5_18_green.jpg" class="green" id="Zone3-5_18" width="101" height="95" border="0" alt=""></a></td>
		<td rowspan="3"></td>
		<td rowspan="5">
			<img src="/Zone3/images/index_22.gif" width="18" height="115" alt=""></td>
		<td colspan="3" rowspan="4">
			<a onclick = "change_image('Zone3',['Zone3-5_20'])">
				<img src="/Zone3/images/Zone3-5_20_green.jpg" id="Zone3-5_20" class="green" width="89" height="95" border="0" alt=""></a></td>
		<td colspan="4" rowspan="2">
			<img src="/Zone3/images/index_24.gif" width="198" height="64" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="32" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="9">
			<img src="/Zone3/images/index_25.gif" width="80" height="282" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="32" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<img src="/Zone3/images/index_26.gif" width="24" height="69" alt=""></td>
		<td rowspan="5">
			<a onclick = "change_image('Zone3',['Zone3-5_27'])">
				<img src="/Zone3/images/Zone3-5_27_green.jpg" id="Zone3-5_27" class="green" width="99" height="78" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone3/images/index_28.gif" width="75" height="250" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone3',['Zone3-5_21'])">
				<img src="/Zone3/images/Zone3-5_21_green.jpg" class='green' id="Zone3-5_21" width="93" height="59" border="0" alt=""></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="6">
			<img src="/Zone3/images/index_31.gif" width="101" height="219" alt=""></td>
		<td colspan="3"></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="20" alt=""></td>
	</tr>
	<tr>
		<td colspan="4"></td>
		<td></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="18" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<img src="/Zone3/images/index_35.gif" width="93" height="181" alt=""></td>
		<td colspan="3" rowspan="2"><a onclick = "change_image('Zone3',['Zone3_index_36'])">
			<img src="/Zone3/images/Zone3_index_36_green.jpg" id="Zone3_index_36" class="green" width="77" height="62" alt=""></a></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone3',['Zone3-5_37'])">
				<img src="/Zone3/images/Zone3-5_37_green.jpg" class="green" id="Zone3-5_37" width="81" height="76" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="/Zone3/images/index_38.gif" width="14" height="181" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/Zone3/images/index_39.gif" width="99" height="172" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="53" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="/Zone3/images/index_40.gif" width="77" height="119" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone3/images/index_41.gif" width="8" height="105" alt=""></td>
		<td>
			<a >
				<img src="/Zone3/images/Zone3-5_31-43.gif" width="63" height="105" border="0" alt=""></a></td>
		<td>
			<img src="/Zone3/images/index_43.gif" width="10" height="105" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="1" height="105" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone3/images/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="66" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="20" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="55" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="37" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="23" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="41" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="63" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="99" height="1" alt=""></td>
		<td>
			<img src="/Zone3/images/spacer.gif" width="75" height="1" alt=""></td>
		<td></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('3')" class="btn btn-primary">Save Zone</button></td></tr>
</table>
</div>

<div id="table_4" style="float:left;margin-left:10px;border:10px solid black;">
<center><h3>Silver Shell Outside</h3></center>
<table id="Table_01" width="649" height="487" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="27">
			<img src="/Zone4/images/Index_01.gif" width="648" height="160" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="160" alt=""></td>
	</tr>
	<tr>
		<td colspan="22">
			<img src="/Zone4/images/Index_02.gif" width="456" height="12" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_03'])">
				<img src="/Zone4/images/Zone4-1_03_green.jpg" id="Zone4-1_03" class="green" width="66" height="35" border="0" alt=""></a></td>
		<td colspan="3" rowspan="10"></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="8">
			<img src="/Zone4/images/Index_05.gif" width="96" height="121" alt=""></td>
		<td colspan="4" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_03-07'])">
				<img src="/Zone4/images/Zone4-1_03-07_green.jpg" id="Zone4-1_03-07" class="green" width="49" height="41" border="0" alt=""></a></td>
		<td rowspan="3">
			<img src="/Zone4/images/Index_07.gif" width="23" height="41" alt=""></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_05'])">
				<img src="/Zone4/images/Zone4-1_05_green.jpg" id="Zone4-1_05" class="green" width="52" height="41" border="0" alt=""></a></td>
		<td colspan="12">
			<img src="/Zone4/images/Index_09.gif" width="236" height="14" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="/Zone4/images/Index_10.gif" width="154" height="9" alt=""></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_11'])">
				<img src="/Zone4/images/Zone4-1_11_green.jpg" class="green" id="Zone4-1_11" width="61" height="35" border="0" alt=""></a></td>
		<td colspan="2" rowspan="3"></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td rowspan="7">
			<img src="/Zone4/images/Index_13.gif" width="10" height="106" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_08'])">
				<img src="/Zone4/images/Zone4-1_08_green.jpg" id="Zone4-1_08" class="green" width="56" height="47" border="0" alt=""></a></td>
		<td colspan="4" rowspan="7">
			<img src="/Zone4/images/Index_15.gif" width="88" height="106" alt=""></td>
		<td colspan="2"></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="18" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="5"></td>
		<td colspan="5" rowspan="4">
			<a onclick = "change_image('Zone4',['Zone4-1_06'])">
				<img src="/Zone4/images/Zone4-1_06_green.jpg" class="green" id="Zone4-1_06" width="63" height="63" border="0" alt=""></a></td>
		<td rowspan="14"></td>
		<td rowspan="14">
			<img src="/Zone4/images/Index_20.gif" width="10" height="273" alt=""></td>
		<td rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_17'])">
				<img src="/Zone4/images/Zone4-1_17_green.jpg" class="green" id="Zone4-1_17" width="56" height="55" border="0" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="5">
			<img src="/Zone4/images/Index_22.gif" width="31" height="80" alt=""></td>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_23'])">
				<img src="/Zone4/images/Zone4-1_23_green.jpg" id="Zone4-1_23" class="green" width="51" height="47" border="0" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_11-25'])">
				<img src="/Zone4/images/Zone4-1_11-25_green.jpg" class="green" id="Zone4-1_11-25" width="56" height="34" border="0" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<img src="/Zone4/images/Index_25.gif" width="51" height="33" alt=""></td>
		<td rowspan="8"><a onclick = "change_image('Zone4',['Zone4_Index_26'])">
			<img src="/Zone4/images/Zone4_Index_26_green.jpg" id="Zone4_Index_26" class="green" width="56" height="111" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="/Zone4/images/Index_27.gif" width="63" height="17" alt=""></td>
		<td colspan="2" rowspan="2">
			<img src="/Zone4/images/Index_28.gif" width="56" height="25" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td rowspan="9">
			<img src="/Zone4/images/Index_29.gif" width="60" height="193" alt=""></td>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_03-31'])">
				<img src="/Zone4/images/Zone4-1_03-31_green.jpg" id="Zone4-1_03-31" class="green" width="44" height="45" border="0" alt=""></a></td>
		<td rowspan="9">
			<img src="/Zone4/images/Index_31.gif" width="25" height="193" alt=""></td>
		<td colspan="4" rowspan="4">
			<a onclick = "change_image('Zone4',['Zone4-1_05-33'])">
				<img src="/Zone4/images/Zone4-1_05-33_green.jpg" id="Zone4-1_05-33" class="green" width="52" height="63" border="0" alt=""></a></td>
		<td rowspan="9">
			<img src="/Zone4/images/Index_33.png" width="11" height="193" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_16'])">
				<img src="/Zone4/images/Zone4-1_16_green.jpg" id="Zone4-1_16" class="green" width="66" height="47" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone4/images/Index_35.gif" width="18" height="185" alt=""></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_23-37'])">
				<img src="/Zone4/images/Zone4-1_23-37_green.jpg" class="green" id="Zone4-1_23-37" width="70" height="55" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone4/images/Index_37.gif" width="20" height="185" alt=""></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_31'])">
				<img src="/Zone4/images/Zone4-1_31_green.jpg" id="Zone4-1_31" class="green" width="51" height="55" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone4/images/Index_39.gif" width="11" height="185" alt=""></td>
		<td rowspan="8">
			<img src="/Zone4/images/Index_40.gif" width="24" height="185" alt=""></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_28'])">
				<img src="/Zone4/images/Zone4-1_28_green.jpg" class="green" id="Zone4-1_28" width="58" height="47" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone4/images/Index_42.png" width="44" height="185" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="37" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<img src="/Zone4/images/Index_43.gif" width="44" height="27" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="/Zone4/images/Index_44.png" width="10" height="138" alt=""></td>
		<td rowspan="4">
			<a onclick = "change_image('Zone4',['Zone4-1_18'])">
				<img src="/Zone4/images/Zone4-1_18_green.jpg" class="green" id="Zone4-1_18" width="48" height="43" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="/Zone4/images/Index_46.gif" width="8" height="138" alt=""></td>
		<td rowspan="5">
			<a onclick = "change_image('Zone4',['Zone4-1_34'])">
				<img src="/Zone4/images/Zone4-1_34_green.jpg" class="green" id="Zone4-1_34" width="58" height="51" border="0" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img src="/Zone4/images/Index_48.gif" width="52" height="23" alt=""></td>
		<td colspan="3" rowspan="2">
			<img src="/Zone4/images/Index_49.gif" width="70" height="23" alt=""></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_41'])">
				<img src="/Zone4/images/Zone4-1_41_green.jpg" id="Zone4-1_41" class="green" width="51" height="35" border="0" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<a onclick = "change_image('Zone4',['Zone4-1_03-52'])">
				<img src="/Zone4/images/Zone4-1_03-52_green.jpg" id="Zone4-1_03-52" class="green" width="36" height="34" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="/Zone4/images/Index_52.gif" width="8" height="121" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/Zone4/images/Index_53.gif" width="8" height="107" alt=""></td>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_12'])">
				<img src="/Zone4/images/Zone4-1_12_green.jpg" id="Zone4-1_12" class="green" width="44" height="20" border="0" alt=""></a></td>
		<td rowspan="3">
			<img src="/Zone4/images/Index_55.gif" width="8" height="107" alt=""></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_32'])">
				<img src="/Zone4/images/Zone4-1_32_green.jpg" class="green" id="Zone4-1_32" width="50" height="20" border="0" alt=""></a></td>
		<td rowspan="3">
			<img src="/Zone4/images/Index_57.gif" width="12" height="107" alt=""></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone4',['Zone4-1_44'])">
				<img src="/Zone4/images/Zone4-1_44_green.jpg" class="green" id="Zone4-1_44" width="56" height="20" border="0" alt=""></a></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/Zone4/images/Index_59.png" width="48" height="95" alt=""></td>
		<td colspan="3" rowspan="2">
			<img src="/Zone4/images/Index_60.gif" width="51" height="95" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone4/images/Index_61.gif" width="36" height="87" alt=""></td>
		<td colspan="3">
			<img src="/Zone4/images/Index_62.gif" width="44" height="87" alt=""></td>
		<td>
			<img src="/Zone4/images/Index_63.gif" width="50" height="87" alt=""></td>
		<td>
			<img src="/Zone4/images/Index_64.gif" width="56" height="87" alt=""></td>
		<td>
			<img src="/Zone4/images/Index_65.gif" width="58" height="87" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="1" height="87" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone4/images/spacer.gif" width="60" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="36" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="23" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="13" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="28" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="48" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="50" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="20" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="30" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="56" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="58" height="1" alt=""></td>
		<td>
			<img src="/Zone4/images/spacer.gif" width="44" height="1" alt=""></td>
		<td></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('4')" class="btn btn-primary">Save Zone</button></td></tr>
</table>
</div>

<div id="table_6" style="float:left;margin-left:10px;border:10px solid black;">
<center><h3>8 Noodles</h3></center>
<table id="Table_01" width="515" height="575" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="9"></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="33" alt=""></td>
	</tr>
	<tr>
		<td colspan="7" rowspan="2">
			<img src="/Zone6/images/index_02.gif" width="378" height="103" alt=""></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_11'])">
				<img src="/Zone6/images/Zone6_11_green.jpg" id="Zone6_11" width="87" class="green" height="88" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone6/images/index_04.gif" width="49" height="542" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="88" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<a onclick = "change_image('Zone6',['Zone6_10'])">
				<img src="/Zone6/images/Zone6_10_green.jpg" id="Zone6_10" class="green" width="87" height="104" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="/Zone6/images/index_06.gif" width="63" height="439" alt=""></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_04'])">
				<img src="/Zone6/images/Zone6_04_green.jpg" class="green" id="Zone6_04" width="42" height="89" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="/Zone6/images/index_08.gif" width="37" height="439" alt=""></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_05'])">
				<img src="/Zone6/images/Zone6_05_green.jpg" width="104" id="Zone6_05" class="green" height="89" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="/Zone6/images/index_10.gif" width="36" height="439" alt=""></td>
		<td><a onclick = "change_image('Zone6',['Zone6_06'])">
			<img src="/Zone6/images/Zone6_06_green.jpg" class="green" id="Zone6_06" width="75" height="89" alt="">
		</a>
		</td>
		<td rowspan="6">
			<img src="/Zone6/images/index_12.gif" width="21" height="439" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="89" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="/Zone6/images/index_13.gif" width="42" height="350" alt=""></td>
		<td>
			<img src="/Zone6/images/index_14.gif" width="104" height="15" alt=""></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone6',['Zone6_07'])">
				<img src="/Zone6/images/Zone6_07_green.jpg" id="Zone6_07" class="green" width="75" height="104" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone6',['zone6_09'])">
				<img src="/Zone6/images/Zone6_09_green.jpg" width="87" id="zone6_09" class="green" id="" height="104" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_03'])">
				<img src="/Zone6/images/Zone6_03_green.jpg" id="Zone6_03" class="green" width="104" height="89" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="89" alt=""></td>
	</tr>
	<tr>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_02'])">
				<img src="/Zone6/images/Zone6_02_green.jpg" id="Zone6_02" class="green" width="104" height="90" border="0" alt=""></a></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_08'])">
				<img src="/Zone6/images/Zone6_08_green.jpg" id="Zone6_08" class="green" width="75" height="90" border="0" alt=""></a></td>
		<td rowspan="3">
			<img src="/Zone6/images/index_20.gif" width="87" height="246" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="90" alt=""></td>
	</tr>
	<tr>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_01'])">
				<img src="/Zone6/images/Zone6_01_green.jpg" class="green" id="Zone6_01" width="104" height="69" border="0" alt=""></a></td>
		<td rowspan="2">
			<a href="''" target="''">
				<img src="/Zone6/images/index_21.gif" width="75" height="156" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="69" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone6/images/index_23.gif" width="104" height="87" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="87" alt=""></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('6')" class="btn btn-primary">Save Zone</button></td></tr>
</table>
</div>

<div style="clear:left;">
<div>
<div id="table_2" style="float:left;margin-left:-130px;border:10px solid black;width:700px">
<center><h3>Silver Shell Outside</h3></center>
<table id="Table_01" width="649" height="437" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="20">
			<img src="/Zone2/images/index_01.gif" width="648" height="19" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" rowspan="2"></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone2',['Zone2-2_03'])">
				<img src="/Zone2/images/Zone2-2_03_green.jpg" id="Zone2-2_03" class="green" width="106" height="81" border="0" alt=""></a></td>
		<td colspan="11">
			<img src="/Zone2/images/index_04.gif" width="336" height="21" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone2',['Zone2-2_05'])">
				<img src="/Zone2/images/Zone2-2_05_green.jpg" id="Zone2-2_05" class="green" width="77" height="76" border="0" alt=""></a></td>
		<td colspan="8">
			<img src="/Zone2/images/index_06.gif" width="259" height="39" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="39" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="7"></td>
		<td colspan="2" rowspan="5">
			<a onclick = "change_image('Zone2',['Zone2-2_03-09'])">
				<img src="/Zone2/images/Zone2-2_03-09_green.jpg" id="Zone2-2_03-09" class="green" width="94" height="73" border="0" alt=""></a></td>
		<td rowspan="3"></td>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone2',['Zone2-2_10'])">
				<img src="/Zone2/images/Zone2-2_10_green.jpg" id="Zone2-2_10" class="green" width="79" height="45" border="0" alt=""></a></td>
		<td colspan="5" rowspan="3">
			<img src="/Zone2/images/index_11.gif" width="180" height="45" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="/Zone2/images/index_12.gif" width="106" height="24" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="/Zone2/images/index_13.gif" width="77" height="25" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="6">
			<a onclick = "change_image('Zone2',['Zone2-2_05-15'])">
				<img src="/Zone2/images/Zone2-2_05-15_green.jpg" class="green" id="Zone2-2_05-15" width="63" height="78" border="0" alt=""></a></td>
		<td colspan="2">
			<img src="/Zone2/images/index_15.gif" width="54" height="17" alt=""></td>
		<td colspan="2" rowspan="3"></td>
		<td colspan="3" rowspan="6">
			<a onclick = "change_image('Zone2',['Zone2-2_17'])">
				<img src="/Zone2/images/Zone2-2_17_green.jpg" id="Zone2-2_17" class="green" width="77" height="78" border="0" alt=""></a></td>
		<td colspan="3" rowspan="4"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2"></td>
		<td colspan="2" rowspan="2"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="11" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<a onclick = "change_image('Zone2',['Zone2-2_07-23','Zone2-2_07'])">
				<img src="/Zone2/images/Zone2-2_07-23_green.jpg" class="green" id="Zone2-2_07-23" width="54" height="57" border="0" alt=""></a></td>
		<td colspan="3" rowspan="5">
			<a onclick = "change_image('Zone2',['Zone2-2_11'])">
				<img src="/Zone2/images/Zone2-2_11_green.jpg" width="77" id="Zone2-2_11" class="green" height="74" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td rowspan="15">
			<img src="/Zone2/images/index_25.gif" width="19" height="262" alt=""></td>
		<td rowspan="4">
			<a onclick = "change_image('Zone2',['Zone2-2_03-27'])">
				<img src="/Zone2/images/Zone2-2_03-27_green.jpg" id="Zone2-2_03-27" class="green" width="60" height="64" border="0" alt=""></a></td>
		<td>
			<img src="/Zone2/images/index_27.gif" width="22" height="15" alt=""></td>
		<td colspan="2" rowspan="6">
			<a onclick = "change_image('Zone2',['Zone2-2_28'])">
				<img src="/Zone2/images/Zone2-2_28_green.jpg" id="Zone2-2_28" class="green" width="87" height="94" border="0" alt=""></a></td>
		<td rowspan="15">
			<img src="/Zone2/images/index_29.gif" width="25" height="262" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<a onclick = "change_image('Zone2',['Zone2-2_05-31'])">
				<img src="/Zone2/images/Zone2-2_05-31_green.jpg" id="Zone2-2_05-31" class="green" width="62" height="62" border="0" alt=""></a></td>
		<td>
			<img src="/Zone2/images/index_31.gif" width="54" height="13" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone2',['Zone2-2_18'])">
				<img src="/Zone2/images/Zone2-2_18_green.jpg" class="green" id="Zone2-2_18" width="70" height="49" border="0" alt=""></a></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<a onclick = "change_image('Zone2',['Zone2-2_07-34'])">
				<img src="/Zone2/images/Zone2-2_07-34_green.jpg" class="green" id="Zone2-2_07-34" width="65" height="66" border="0" alt=""></a></td>
		<td></td>
		<td colspan="3" rowspan="2"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="5">
			<a onclick = "change_image('Zone2',['Zone2-2_09'])">
				<img src="/Zone2/images/Zone2-2_09_green.jpg" id="Zone2-2_09" class="green" width="64" height="69" border="0" alt=""></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td rowspan="11">
			<img src="/Zone2/images/index_38.gif" width="60" height="198" alt=""></td>
		<td colspan="3"></td>
		<td rowspan="2"></td>
		<td colspan="4" rowspan="6">
			<a onclick = "change_image('Zone2',['Zone2-2_27'])">
				<img src="/Zone2/images/Zone2-2_27_green.jpg" class="green" id="Zone2-2_27" width="88" height="79" border="0" alt=""></a></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="10">
			<img src="/Zone2/images/index_42.gif" width="62" height="185" alt=""></td>
		<td colspan="3" rowspan="5">
			<a onclick = "change_image('Zone2',['Zone-2_13'])">
				<img src="/Zone2/images/Zone-2_13_green.jpg" id="Zone-2_13" class="green" width="63" height="66" border="0" alt=""></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="9">
			<img src="/Zone2/images/index_45.gif" width="65" height="168" alt=""></td>
		<td rowspan="3"></td>
		<td rowspan="4"></td>
		<td rowspan="9">
			<img src="/Zone2/images/index_48.gif" width="78" height="168" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<a onclick = "change_image('Zone2',['Zone2_2_16'])">
				<img src="/Zone2/images/Zone2_2_16_green.jpg" id="Zone2_2_16" class="green" width="56" height="71" border="0" alt=""></a></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="7">
			<img src="/Zone2/images/index_50.gif" width="64" height="146" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<a onclick = "change_image('Zone2',['Zone2-2_19'])">
				<img src="/Zone2/images/Zone2-2_19_green.jpg" class="green" id="Zone2-2_19" width="59" height="72" border="0" alt=""></a></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="5">
			<img src="/Zone2/images/index_52.gif" width="63" height="119" alt=""></td>
		<td colspan="5">
			<img src="/Zone2/images/index_53.gif" width="97" height="13" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<a onclick = "change_image('Zone2',['Zone2-2_22'])">
				<img src="/Zone2/images/Zone2-2_22_green.jpg" class="green" id="Zone2-2_22" width="62" height="82" border="0" alt=""></a></td>
		<td colspan="2" rowspan="4">
			<img src="/Zone2/images/index_55.gif" width="35" height="106" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/Zone2/images/index_56.png" width="56" height="89" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="28" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/Zone2/images/index_57.gif" width="59" height="61" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="37" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/Zone2/images/index_58.gif" width="62" height="24" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="1" height="24" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone2/images/spacer.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="60" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="22" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="40" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="54" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="42" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="13" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="56" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="59" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="42" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="78" height="1" alt=""></td>
		<td>
			<img src="/Zone2/images/spacer.gif" width="25" height="1" alt=""></td>
		<td></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('2')" class="btn btn-primary">Save Zone</button></td></tr>
</table>
</div>

<div id="table_5" style="float:left;margin-left:660px;border:10px solid black;width:700px">
<center><h3>Casserole Outside</h3></center>
<table id="Table_01" width="648" height="487" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="26">
			<img src="/Zone5/images/index_01.gif" width="648" height="105" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="5">
			<img src="/Zone5/images/index_02.gif" width="48" height="118" alt=""></td>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5_index_03'])"><img src="/Zone5/images/Zone5_index_03_green.jpg" id="Zone5_index_03" class="green"  width="57" height="47" alt=""></a></td>
		<td colspan="3" rowspan="3">
			<a >
				<img src="/Zone5/images/Zone5-1_04.gif" width="40" height="55" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_05'])">
				<img src="/Zone5/images/Zone5-1_05_green.jpg" id="Zone5-1_05" class="green" width="65" height="47" border="0" alt=""></a></td>
		<td rowspan="2">
			<a >
				<img src="/Zone5/images/Zone5-1_04-07.gif" width="32" height="47" border="0" alt=""></a></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone5',['Zone5-1_07'])">
				<img src="/Zone5/images/Zone5-1_07_green.jpg" width="59" id="Zone5-1_07" class="green" height="55" border="0" alt=""></a></td>
		<td rowspan="2">
			<a>
				<img src="/Zone5/images/Zone5-1_04-09.gif" width="57" height="47" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_09'])">
				<img src="/Zone5/images/Zone5-1_09_green.jpg" class="green" id="Zone5-1_09" width="55" height="47" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<a>
				<img src="/Zone5/images/Zone5-1_04-11.gif" width="68" height="47" border="0" alt=""></a></td>
		<td colspan="6">
			<a onclick = "change_image('Zone5',['Zone5-1_11'])">
				<img src="/Zone5/images/Zone5-1_11_green.jpg" id="Zone5-1_11" class="green" width="115" height="37" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<a>
				<img src="/Zone5/images/Zone5-1_04-13.gif" width="52" height="47" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="6">
			<a>
				<img src="/Zone5/images/Zone5-1_04-14.gif" width="115" height="10" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone5/images/index_14.gif" width="57" height="8" alt=""></td>
		<td rowspan="3">
			<a >
				<img src="/Zone5/images/Zone5-1_04-16.gif" width="36" height="71" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_11-17'])">
				<img src="/Zone5/images/Zone5-1_11-17_green.jpg" id="Zone5-1_11-17" class="green" width="61" height="52" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_12'])">
				<img src="/Zone5/images/Zone5-1_12_green.jpg" id="Zone5-1_12" class="green" id="Zone5-1_12" width="57" height="52" border="0" alt=""></a></td>
		<td colspan="2" rowspan="3">
			<a>
				<img src="/Zone5/images/Zone5-1_04-19.gif" width="55" height="71" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_16'])">
				<img src="/Zone5/images/Zone5-1_16_green.jpg" id="Zone5-1_16" class="green" width="60" height="52" border="0" alt=""></a></td>
		<td colspan="3" rowspan="3">
			<a>
				<img src="/Zone5/images/Zone5-1_04-21.gif" width="28" height="71" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_21'])">
				<img src="/Zone5/images/Zone5-1_21_green.jpg" id="Zone5-1_21" class="green" width="52" height="52" border="0" alt=""></a></td>
		<td rowspan="3">
			<a>
				<img src="/Zone5/images/Zone5-1_04-23.gif" width="14" height="71" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone5',['Zone5-1_23'])">
				<img src="/Zone5/images/Zone5-1_23_green.jpg" id="Zone5-1_23" class="green" width="53" height="52" border="0" alt=""></a></td>
		<td rowspan="3">
			<a onclick = "change_image('Zone5',['Zone5-1_04-25'])">
				<img src="/Zone5/images/Zone5-1_04-25.gif" width="28" height="71" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/Zone5/images/index_25.gif" width="21" height="63" alt=""></td>
		<td colspan="3">
			<a onclick = "change_image('Zone5',['Zone5-1_07-27'])">
				<img src="/Zone5/images/Zone5-1_07-27_green.jpg" id="Zone5-1_07-27" class="green" width="61" height="44" border="0" alt=""></a></td>
		<td rowspan="2">
			<a>
				<img src="/Zone5/images/Zone5-1_04-28.gif" width="15" height="63" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<a>
				<img src="/Zone5/images/Zone5-1_04-29.gif" width="59" height="63" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone5/images/index_29.gif" width="36" height="19" alt=""></td>
		<td colspan="2">
			<a>
				<img src="/Zone5/images/Zone5-1_04-31.gif" width="25" height="19" border="0" alt=""></a></td>
		<td colspan="3">
			<a>
				<img src="/Zone5/images/Zone5-1_04-32.gif" width="61" height="19" border="0" alt=""></a></td>
		<td>
			<a>
				<img src="/Zone5/images/Zone5-1_04-33.gif" width="57" height="19" border="0" alt=""></a></td>
		<td>
			<a>
				<img src="/Zone5/images/Zone5-1_04-34.gif" width="60" height="19" border="0" alt=""></a></td>
		<td></td>
		<td colspan="3">
			<a>
				<img src="/Zone5/images/Zone5-1_04-36.gif" width="53" height="19" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="/Zone5/images/index_36.gif" width="33" height="263" alt=""></td>
		<td colspan="4">
			<a onclick = "change_image('Zone5',['Zone5-1_03'])">
				<img src="/Zone5/images/Zone5-1_03_green.jpg"  id="Zone5-1_03" class="green" width="87" height="46" border="0" alt=""></a></td>
		<td colspan="4"><a onclick = "change_image('Zone5',['Zone5-1_04-39'])">
			<img src="/Zone5/images/Zone5-1_04-39_green.jpg" id="Zone5-1_04-39" class="green" width="82" height="46" alt=""></a></td>
		<td colspan="3">
			<a onclick = "change_image('Zone5',['Zone5_1_05'])">
				<img src="/Zone5/images/Zone5_1_05_green.jpg" id="Zone5_1_05" class="green" width="91" height="46" border="0" alt=""></a></td>
		<td colspan="3">
			<a onclick = "change_image('Zone5',['Zone5-1_06'])">
				<img src="/Zone5/images/Zone5-1_06_green.jpg" id="Zone5-1_06" class="green" width="100" height="46" border="0" alt=""></a></td>
		<td colspan="4">
			<a onclick = "change_image('Zone5',['Zone5-1_07-42'])">
				<img src="/Zone5/images/Zone5-1_07-42_green.jpg" id="Zone5-1_07-42" class="green" width="96" height="46" border="0" alt=""></a></td>
		<td colspan="4">
			<a onclick = "change_image('Zone5',['Zone5-1_08'])">
				<img src="/Zone5/images/Zone5-1_08_green.jpg" id="Zone5-1_08" class="green" width="97" height="46" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<img src="/Zone5/images/index_43.gif" width="62" height="263" alt=""></td>
	</tr>
	<tr>
		<td colspan="22"></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone5/images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="36" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="36" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="32" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="51" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="57" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="20" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="60" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="/Zone5/images/spacer.gif" width="28" height="1" alt=""></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('5')" class="btn btn-primary">Save Zone</button></td></tr>
</table>
</div>

<div id="table_7" style="float:left;margin-left:10px;border:10px solid black;">
<center><h3>Bubble Bar</h3></center>
<table id="Table_01" width="695" height="521" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="7">
			<img src="/Zone7/images/index_01.gif" width="694" height="144" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="144" alt=""></td>
	</tr>
	<tr>
		<td rowspan="13">
			<img src="/Zone7/images/index_02.gif" width="224" height="376" alt=""></td>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_03'])">
				<img src="/Zone7/images/Zone7-1_03_green.jpg" class="green" id="Zone7-1_03" width="80" height="67" border="0" alt=""></a></td>
		<td colspan="4">
			<img src="/Zone7/images/index_04.gif" width="390" height="51" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="51" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_05'])">
				<img src="/Zone7/images/Zone7-1_05_green.jpg" class="green" id="Zone7-1_05" width="81" height="67" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<img src="/Zone7/images/index_06.gif" width="309" height="32" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<img src="/Zone7/images/index_07.gif" width="80" height="69" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_08'])">
				<img src="/Zone7/images/Zone7-1_08_green.jpg" class="green" id="Zone7-1_08" width="83" height="63" border="0" alt=""></a></td>
		<td rowspan="10">
			<img src="/Zone7/images/index_09.gif" width="226" height="293" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone7/images/index_10.gif" width="81" height="18" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="18" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="/Zone7/images/index_11.gif" width="70" height="134" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_12'])">
				<img src="/Zone7/images/Zone7-1_12_green.jpg" id="Zone7-1_12" class="green" width="81" height="61" border="0" alt=""></a></td>
		<td rowspan="2">
			<img src="/Zone7/images/index_13.gif" width="10" height="33" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone7/images/index_14.gif" width="83" height="23" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="23" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_15'])">
				<img src="/Zone7/images/Zone7-1_15_green.jpg" class="green" id="Zone7-1_15" width="93" height="62" border="0" alt=""></a></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="28" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone7/images/index_16.gif" width="81" height="12" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_17'])">
				<img src="/Zone7/images/Zone7-1_17_green.jpg" class="green" id="Zone7-1_17" width="81" height="61" border="0" alt=""></a></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="22" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone7/images/index_18.gif" width="93" height="39" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="39" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_19'])">
				<img src="/Zone7/images/Zone7-1_19_green.jpg" id="Zone7-1_19" class="green" width="80" height="52" border="0" alt=""></a></td>
		<td colspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_20'])">
				<img src="/Zone7/images/Zone7-1_20_green.jpg" id="Zone7-1_20" class="green" width="81" height="52" border="0" alt=""></a></td>
		<td>
			<a onclick = "change_image('Zone7',['Zone7-1_21'])">
				<img src="/Zone7/images/Zone7-1_21_green.jpg" id="Zone7-1_21" class="green" width="83" height="52" border="0" alt=""></a></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="52" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="/Zone7/images/index_22.gif" width="244" height="54" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="54" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone7/images/spacer.gif" width="224" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="70" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="71" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="83" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="226" height="1" alt=""></td>
		<td></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
	<tr><td colspan=30 style="text-align:center"><button type="button" onclick="save_body('7')" class="btn btn-primary">Save Zone</button></td></tr>
</table>
</div>

<br/>
<% include ../layout/footerAllZone.ejs %>
